body{

    background-image: url("https://images8.alphacoders.com/733/thumb-1920-733409.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.color{
    background-color: black;
}

